@model List<PatientFileViewModel>

@{
    ViewData["Title"] = "List Patient Files";
    Layout = "~/Views/Doctor/_DoctorLayout.cshtml";
}

<h1>Hasta Geçmişi</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dosya Adı</th>
            <th>Dosya Türü</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                <td>@file.ContentType</td>
            </tr>
        }
    </tbody>
</table>