
@{
    ViewData["Title"] = "SignIn";
}

@model SignInViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<link rel="stylesheet" href="../assets/css/maicons.css">

<link rel="stylesheet" href="../assets/css/bootstrap.css">

<link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.css">

<link rel="stylesheet" href="../assets/vendor/animate/animate.css">

<link rel="stylesheet" href="../assets/css/theme.css">

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Üye Giriş</h1>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <form method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" id="RememberMe" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" for="RememberMe" asp-for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-outline-secondary btn-sm float-end" asp-controller="Home" asp-action="ForgetPassword">Şifremi Unuttum</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Giriş</button> <br /> <br />
            <a class="btn btn-outline-info" asp-action="FacebookLogin">Facebook ile Giriş Yap</a>
            <div></div> <br />
            <a class="btn btn-danger" asp-action="GoogleLogin">Google ile Giriş Yap</a>
            <div></div> <br />
            <a class="btn btn-info" asp-action="MicrosoftLogin">Microsoft ile Giriş Yap</a>
            <div></div> <br />
        </form>
    </div>
</div>





