
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="MACode ID, https://macodeid.com/">

    <title>One Health - Medical Center HTML5 Template</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



    <link rel="stylesheet" href="../assets/css/maicons.css">

    <link rel="stylesheet" href="../assets/css/bootstrap.css">

    <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="../assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="../assets/css/theme.css">
</head>
<body>
    
        <header>
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 text-sm">
                            <div class="site-info">
                                <a href="#"><span class="mai-call text-primary"></span> +00 123 4455 6666</a>
                                <span class="divider">|</span>
                                <a href="#"><span class="mai-mail text-primary"></span> mail@example.com</a>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right text-sm">
                            <div class="social-mini-button">
                                <a href="#"><span class="mai-logo-facebook-f"></span></a>
                                <a href="#"><span class="mai-logo-twitter"></span></a>
                                <a href="#"><span class="mai-logo-dribbble"></span></a>
                                <a href="#"><span class="mai-logo-instagram"></span></a>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div> <!-- .container -->
            </div> <!-- .topbar -->

            <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
                <div class="container">
                    <a class="navbar-brand" href="#"><span class="text-primary">One</span>-Health</a>

                    <form action="#">
                        <div class="input-group input-navbar">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="icon-addon1"><span class="mai-search"></span></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Ara" aria-label="Username" aria-describedby="icon-addon1">
                        </div>
                    </form>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                </div> <!-- .container -->
            </nav>
        </header>

        <div class="page-section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 py-3 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h1>Bağışta <br> Bulunun</h1>
                        <p class="text-grey mb-4">Hastanemiz, hastalarımıza en yüksek kalitede bakım sağlamamıza yardımcı olmak için cömert bağışçıların desteğine güvenmektedir. Aşağıdakiler dahil olmak üzere hastanemizi destekleyebileceğiniz birçok yol vardır:</p>
                        <ul>
                            <li>Mali bağış yapmak</li>
                            <li>Malzeme veya ekipman bağışlamak</li>
                            <li>Zamanlı gönüllülük yapmak</li>
                        </ul>
                        <p>Desteğiniz hastalarımızın hayatında bir fark yaratıyor ve cömertliğiniz için minnettarız. Bağış yapmak veya hastanemize nasıl destek olabileceğinizi öğrenmek isterseniz lütfen 555-555-5555 numaralı telefondan veya info@hospital.com adresine e-posta gönderin.</p>
                        <a asp-controller="Home" asp-action="About" class="btn btn-primary">Devamını Oku</a>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInRight;">
                        <div class="img-place custom-img-1">
                            <img src="../assets/img/bg-doctor.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
</body>
</html>


