
@{
    ViewData["Title"] = "DoctorList";
}

@model List<DoctorViewModel>

<h1>Doktor Listesi</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Branş</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Branch</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
            </tr>
        }

    </tbody>

</table>

